body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.battery-info {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.details {
    margin-top: 20px;
}

.details h2 {
    margin-bottom: 10px;
}

.status p {
    margin: 5px 0;
}

.status p strong {
    font-weight: bold;
}

.details p {
    margin: 5px 0;
}

.details p strong {
    font-weight: bold;
}
